.image {
  width: 100%;
  border-radius: 5px;
}

.list-items {
  width: 410px;
  margin: 12px;
  background-color: #ffffff;
}

.details {
  padding: 5px;
}

.name {
  color: #475569;
  font-weight: 600;
  font-size: 20px;
}

.description {
  color: #64748b;
}
